@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter");

@layer base {
  :root {
    --primary-color: 0 132 255;
    --secondary-color: 254 183 40;
    --success-color: 40 199 111;
    --danger-color: 255 73 113;
    --warning-color: 254 183 40;
    --info-color: 91 143 249;
    --light-color: 245 246 252;
    --dark-color: 30 41 59;
    --gray-light: 242 242 242;
    --gray-medium: 179 179 179;
    --gray-dark: 74 74 74;
    --default-border-radius: 6px;
    --button-border-radius: 6px;
  }
}